/* NAVBAR STYLES */

#navbar {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1dvh;

    background-color: #373f3c;

    width: 20vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    color: #d0d8d5;
}

#navbar-header {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    font-variant: small-caps;
    padding: .5vh 1vh;
}

#search-form-holder {
    margin: 2dvh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1dvh;
}

#search-form-holder h5 {
    font-size: .95rem;
    padding: 1vw;
    text-align: center;
}

#navbar-form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#search-input {
    font-size: 1rem;
    padding: 0.5rem;
    width: 75%;
    border-radius: 5px;
}

#navbar-form-options {
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1vh;

    margin: 1vh 0;
}

#search-select, #search-btn {
    font-size: 1rem;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: 1px;
    padding: 0.5rem;
    border: 1.5px solid #d0d8d5;
    color: #d0d8d5;
    background-color: #5a6762;
    cursor: pointer;
}

#search-select {
    border-radius: 10px;
}

#search-btn {
    border-radius: 20px;
}

#navbar-trending-holder {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

#navbar-trending-holder h3 {
    margin-top: 2vh;
    font-size: 1.3rem;
    padding: 0 1vw;
    text-align: center;
    text-decoration: underline;
}

#trending-card {
    width: 95%;
    overflow: scroll;

    border: 2px solid #000000;

    margin: 2vh 0;
}

#trending-card ul {
    list-style-type: none;
    padding: 2%;
}

.trending-list {
    display: grid;
    grid-template-columns: 1fr 6fr;
    font-weight: 200;
    padding: 1%;
}

.people-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;

    transition: font-size 0.3s ease-in-out;
}

.people-list:hover {
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #5a67624d;
}

.people-right {
    text-align: right;
    font-style: italic;
    font-weight: 300;
}

.people-card ul {
    display: flex;
    flex-direction: column;
    gap: .8vh;
}

.trending-title {
    color: #d0d8d5;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    text-align: left;
    transition: font-size 0.3s ease-in-out;
}

.trending-title:hover {
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #5a67624d;
}

/* MAIN BODY STYLES */

#title-card, #main-body {
    margin-left: 20vw;
}

#main-body {
    min-height: 100dvh;

    background-color: #919b98;
    padding: .5vw;
}

a {
    color: #000000;
    font-style: italic;
    font-size: .9rem;
}

/* movie title */
#title-card {
    position: sticky;
    top: 0;

    background-color: #373f3cf2;

    padding: .5vh 1vh;

    z-index: 5;
}

#movie-title {
    color: #d0d8d5;
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 300;
    font-variant: small-caps;
    letter-spacing: 2px;

}

/* movie description */
#movie-description {
    border: 1px solid #000000;
    margin: 1vh 5vw;
    padding: 1vh;
}

/* main stats styles */
#main-stats-holder {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1vw;

    margin: 5vh 1vw;
}

#main-stats-left, #main-stats-right {
    min-height: 100dvh;
}

/* main stats left styles */
#main-stats-left {

}

/* people stats styles */
#people-stats-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.people-stats-card {
    border: 1px solid #000000;
    width: 100%;
    min-height: 50vh;
}

.people-card {
    padding: 0 .5vw 1vw;
    border-radius: 20px;
}

li {
    display: block;
    list-style-type: none;
}

#cast-card, #crew-card {
    overflow: scroll;
    border: 5px solid #000000;
    margin: 1vh 0;    
}

#cast-card {
    height: 70vh;
}

#crew-card {
    height: 40vh;

}

.body-card-header {

    background-color: #373f3cf2;
    color: #d0d8d5;
    text-align: center;
    font-weight: 500;
    font-variant: small-caps;
    font-size: 1.5rem;
    letter-spacing: 3px;
    border-bottom: 3px solid black;
    border-radius: 0 0 20px 20px;
    margin-bottom: 1%;
}

/* main stats right styles */
#main-stats-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.stats-right-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* movie stats styles */
#movie-poster img {
    width: 100%;
    height: 75vh;
}

.stats-top-child {
    height: 75vh;
    margin: 1vh;
}

#main-stats-left-top {
    min-width: 50dvh;
}

.stats-bottom-child {
    height: 45vh;
    overflow: scroll;
    margin: 1vh 0;
}

#release-card {
    border: 2px solid black;
}

.ratings-stats-holder {
    overflow: scroll;
    height: 120vh;
    border: 2px solid black;

    background-color: #5a6762;
}

#review-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#review-card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#review-read-all {
    font-size: 1rem;
    letter-spacing: normal;
    font-variant: normal;
}

#review-card ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 100%;
    justify-content: space-evenly;
}

.review-list-item {
    border: 1px solid black;
    margin: 2%;

    border-radius: 10px;
    padding: 2%;

    background-color: #919b98;
}

.review-list-author {
    text-align: right;
}

.review-list-content {
    transition: font-size 0.3s ease-in-out;
    text-align: justify;
    text-indent: 10%;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
    margin: 0 3%;
    padding: 3%;
}

.review-list-content:hover {
    font-size: 1.04rem;
    font-weight: 500;
}

.review-list-detail {
    text-align: center;
    font-style: italic;
    font-weight: 300;
}